/* Events section container */
.events-section {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 36px 16px;
  text-align: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 100px;
}
.event-list .card {
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  width: 45%;
  max-width: 300px;
}
.event-list img {
  width: 100%;
  border-radius: 10px;
}